/ExemploCalc/build/
/ExemploCalc/nbproject/private/
/Calculcadora/nbproject/private/
/Calculcadora/build/
/Vendas/nbproject/private/
/Vendas/build/
/Vendas/dist/
/SistemaBK/nbproject/private/
/SistemaBK/build/
/SistemaSubway/nbproject/private/
/SistemaSubway/build/
/GravaçãoArquivos/nbproject/private/
/SistemaSubway/dist/
/GravaçãoArquivos/build/
/ConsumoEnergia/nbproject/private/
/ConsumoEnergia/build/
/SistemaUsuario/nbproject/private/
/SistemaUsuario/build/
/GravarBanco/nbproject/private/
/GravarBanco/build/
